header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
}

.navheader {
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}