.hero {
    width: 100%;
    background-color: #529CF1;
    background-image: url(../images/premium_dancer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
}

h1 {
    font-size: 500%;
    color: white;
}

h3 {
    color: white;
}

.condiciones {
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
}

.premium {
    height: 50vh;
}

button {
    color: green;
}