<header>
    <img class="logo" src="./images/logo.png" alt="logo Spotify" />
    <nav class="navheader">
      <div class="hamburguer">
        <img src="./images/menu-icon.png" alt="hamburguer" />
      </div>
      <ul class="menu">
        <li>
          <a href="">Premium</a>
        </li>
        <li>
          <a href="">Ayuda</a>
        </li>
        <li>
          <a href="">Descargar</a>
        </li>
        <li>
          <a href="">Registrarse</a>
        </li>
        <li>
          <a href="">Iniciar sesión</a>
        </li>
      </ul>
    </nav>
</header>