<section class="premium">
    <h2>¿Por qué pasarte a Premium?</h2>
    <div class="padre">
      <div class="item">
        <img src="./images/benefit-1 (1).png" alt="Descarga" />
        <h4>Descarga música</h4>
      </div>
      <div class="item">
        <img src="./images/benefit-2.png" alt="Sin anuncios" />
        <h4>Sin anuncios</h4>
      </div>
      <div class="item">
        <img src="./images/benefit-3.png" alt="Escucha lo que quieras" />
        <h4>Escucha lo que quieras</h4>
      </div>
      <div class="item">
        <img
          src="./images/benefit-4.png"
          alt="Salta todas las canciones que quieras"
        />
        <h4>Salta todas las canciones que quieras</h4>
      </div>
    </div>
  </section>