header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
}

.navheader {
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.hero {
    width: 100vw;
    background-color: #529CF1;
    background-image: url(../images/premium_dancer.png);
    background-size: cover;
    height: 50vh;
}

h1 {
    font-size: 500%;
    color: white;
}

h3 {
    color: white;
}

.condiciones {
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
}

.premium {
    height: 50vh;
}

button {
    color: green;
}

.padre {
    display: flex;
    justify-content: space-evenly;
}

.descarga {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h4 {
    padding: 40px;
}
