header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 100px;
}

.navheader {
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.hero {
    width: 500px;
    background-color: rgb(51, 164, 216);
    /*background-image: url(../images/premium_dancer.png);
    background-size: cover;*/
}

h1 {
    font-size: 500%;
    color: white;
}


